<h1>My Blog</h1>

<% @blog_posts.each do |blog| %>
	<div>
		<% if blog.draft? %>
			<div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
		<% end %>
		<h2><%= link_to blog.title, blog %>
		<h3><%= blog.body %>
	</div>
<% end %>